/* esto se pone para dejarlo todo a cero y que no influyan las cosas por defecto del navegador que este usando */
:root {
    --colorFondoResalte: #00216b;
    --colorLetraEncabezados: #0030ff;
    --colorBlancoFondo: rgb(245, 245, 245);
    --colorFondoSecciones: rgb(212, 211, 211);
    --colorLetraTexto: #444444;
    --colorBordeCajas: black;
    --fuenteSerif: "Lora";
    --fuenteSansSerif: "Poppins";
}

/* llamada a la fuente que tengo en local para que la pueda usar */
@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.woff2), url(fonts/Poppins/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh; /* Le doy una altura de 100 de lo quew se ve para luego hacerlo crecer al tope y que se fije el footer bajo */
    display: flex;
    flex-direction: column; /* esto solo le dice si van a ir en horizontal o vertical los diferentes componentes del contenedor */
    font-family: var(--fuenteSansSerif), sans-serif;
    background-color: var(--colorBlancoFondo);
    color: var(--colorLetraTexto);
}

header {
    background-color: var(--colorFondoResalte);
    text-align: center;
    padding: 6px;
}

h1 {
    font-family: var(--fuenteSerif);
    font-size: 60px;
    color: var(--colorBlancoFondo);
}

main {
    padding: 50px;
    display: flex;
    gap: 3em;/*esto sirve para separar los items */
    flex-grow: 1; /* esto hace que crezca y ocupe todo el espacio disponible asi dejo fijo el footer siempre al final */
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 10px 50px;
    margin-bottom: 50px;
    background-color: var(--colorFondoSecciones);
    display: flex;
    gap: 3em; /*esto sirve para separar los items */
}

nav ul li {
    display: inline;
}

a {
    color: var(--colorLetraEncabezados);
}

section {
    align-self: flex-start; /* hace que el contenedor se adapte al texto segun tamaño de pantalla */
    margin-top: 20px;
    padding: 2em;
    border: 4px solid var(--colorBordeCajas);
    border-radius: 25px;
    background-color: var(--colorFondoSecciones);
}

section h2{
    font-family: var(--fuenteSerif);
    font-size: 30px;
    margin-bottom: 10px;
    color: var(--colorLetraEncabezados);
}

section p{
    font-size: 18px;
    color: var(--colorLetraTexto);
}

footer{
    margin-top: 70px;
    padding: 10px 50px;
    background-color: var(--colorFondoResalte);
    color: var(--colorBlancoFondo);
    text-align: center;
}

@media (width <= 760px){
    main{
        /* le cambio la disposicion a column para que se vea bien cuando la pantalla es pequeña y corrijo el tamaño de letra para que sea legible*/ 
        flex-direction: column;
        justify-content: center;
    }
}